.loader {
  border: 5px solid #999999;
  border-radius: 50%;
  border-top: 5px solid #fea01c;
  width: 30px;
  height: 30px;
  display:none;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.roundCornerButton {
    border-radius: 10px;
    background: #000000;
    padding: 10px; 
    width: 100px;
    height: 50px; 
    color:white;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
